#contenedor-cuadrados {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los cuadrados */
    position: fixed;
    bottom: 0;
    left: 100px; /* Ajusta esto si quieres que esté centrado o a la derecha */
    z-index: 110;
}
.cuadrado {
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 120; /* Asegura que los cuadrados estén por encima de otros elementos */
}